* {
    font-family: 'Lato';
    text-align: center;
    color: #1c0b19;
    text-align: center;
    list-style-position: inside;
}

html {
  scroll-behavior: smooth;
  min-height: 200px;
}

header {
    background-color: #f09993;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 200px;
    max-height: 10vh;
    max-width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #E8D6C5;
}

.title {
    font-family: 'Sour Gummy';
    
}

.content {
    padding: 20px;
    min-width: 300px;
}

button {
    background: #f09993;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    width: 10%;
}

button:hover {
    background: #e88883;
}

ul {
    padding: 0;
    margin: 10px 0;
}

.time {
    font-size: 4rem;
  }

.under-time {
    color: black;
    font-family: "Sour Gummy";
    font-size: 200%;
    height: 320%;
}


i {
  color: black;
  font-size: 1.5rem;
}