:root {
    --color-bg1: rgb(2, 10, 0);
    --color-bg2: rgb(0, 0, 0);
    --color1: rgb(18, 113, 13);
    --color2: rgb(180, 100, 100);
    --color3: rgb(1, 220, 25);
    --color4: rgb(200, 50, 50);
    --color5: rgb(180, 10, 50);
}

* {
    font-family: 'Lato';
    text-align: center;
    color: #1c0b19;
    text-align: center;
    list-style-position: inside;
}

html {
  scroll-behavior: smooth;
  min-height: 200px;
}

header {
    background-color: #f09993;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 25px;
    max-height: 10vh;
    max-width: 100%;
}

body {
    min-height: 340px;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #E8D6C5;
}

.title {
    font-family: 'Sour Gummy';
    
}

.content {
    padding: 10px;
    min-width: 300px;
    margin: 0;
}

button {
    background: #f09993;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    min-width: 50px;
    min-height: 30px;
    max-width: 20%;
}

.button-holder {
    display: flex;
    justify-content: center;
}

.bw {
    background-color: black;
    border-radius: 50%;
}

button:hover {
    background: #e88883;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #e88883; 
}

.modal-content {
    background-color: #f09993;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    margin: auto;  
}

.item {
    display: block;
    padding: 3px;
    background-color: #E8D6C5;
    border-radius: 3px;
    margin: 5px 0;
}

.todo-container {
    display: block;
    padding: 3px;
}

.close {
    color: black;
    background-color: #E8D6C5;
    border-radius: 3px;
    margin: 1px;
}

.header {
    display: flex;
    justify-content: right;
}

ul {
    padding: 0;
    margin: 10px 0;
}

#bw-toggle {
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.fa-link-slash {
    color: white;
}

.time {
    font-size: 3rem;
  }

.under-time {
    color: black;
    font-family: "Sour Gummy";
    font-size: 150%;
}

input {
    background-color: #E8D6C5;
    border: none;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

i {
  color: black;
  font-size: 1.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #f09993;
    padding: 10px;
    z-index: 1000;
}

/*
footer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    background-color: #f09993;
    width: 100%;
    margin: auto;
    padding: 10px;
}
    */